    #device_warp{
    text-align:left;
    background: black;
    color:white;
    border-radius:12px;
    border:0;
    padding:40px;
    width:99%;
    height: 60px;
    margin:10px;
    position: relative;
    float:left;

    }
    #device_warp #name{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left:15px;
    }
    #device_warp #credits{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        float:right;
        right:15px;
    }
    #viewpr{
        position: absolute  ;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 8px !important;
        width: 120px !important;
        height: 40px !important;
        border-radius: 5px;
        background: transparent;
        border-radius: 2px solid white;
        color:white;
        outline: none;
        font-size: 12px !important;
        font-family: 'Montserrat';
        transition: .3s;
        cursor: pointer; 

    }
    #viewpr span{
        line-height: normal !important;
    }
    #viewpr:hover{
        background: white;
        color:black;
        border:2px solid black;
        width: 130px;
        height: 50px;
        font-size: 14px;

    }
    #back{
        position: absolute;
        top:5%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 8px;
        width: 150px;
        height: 40px;
        border-radius: 5px;
        background: transparent;
        border-radius: 2px solid white;
        color:white;
        outline: none;
        font-size: 12px;
        font-family: 'Montserrat';
        transition: .3s;
        cursor: pointer;

    }
        #back span{
        line-height: normal !important;
    }
    #back:hover{
        background: white;
        color:black;
        border:2px solid black;
        width: 160px;
        height: 50px;
        font-size: 14px;

    }
    #device_warp #namepr{
        position: absolute;
        top:5%;
        transform: translateY(-50%);
        left:15px;
    }
    #device_warp #creditspr{
        position: absolute;
        top:5%;
        transform: translateY(-50%);
        float:right;
        right:15px;
    }